

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    background-color: #222222;
    color: #dddddd;
}

#main{
    padding: 20px;
    font-size: 200%;
}

.toHide{
    display: none;
}

#content{
    display: block;
}

.navbar-hide{
    display: none;
}

#errors{
    color: red;
    clear: both;
}

@media (min-width: 768px){
    .navbar-form .form-control {
        width: 130px;
    }
}

@media (min-width: 768px){
    input .form-control {
        width: 150px;
        display: inline;
    }
}

#info{
    font-size: 50%;
}